<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn-BuzzHub</title>
    <link rel="stylesheet" href="{{url-for('static', filename='loginPage.css')}}">
    <link rel="website icon" href="images/buzzhubIcon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1 id="heading">BuzzHub</h1>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/accounts">Accounts</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <form action="/login" method="post">
                
            </form>
        </div>
    </div>
</body>
</html>